<div style="position: absolute; top: 20px; right: 20px;">
{{flynn-css
  howManyDown=nagios.servicelistDownCount
}}
</div>

<h2>
  <img src={{nagios.settings.iconUrl}} style="width: 30px;"> {{nagios.settings.title}}
</h2>



<div style="margin-top: 5px;font-size: 0.8em;">

  NagiosTV Current Version: <strong>{{nagios.currentVersion}}</strong>

  Latest Version: <strong>{{nagios.latestVersion}}</strong><br />

  Nagios Server: <strong>{{nagios.settings.nagiosServer}}</strong><br />

  Connection Status: <strong>{{nagios.connectionStatus}}</strong><br />

{{#if nagios.connectionError}}
<div style="color: pink">ERROR
  {{nagios.connectionErrorMessage}}
</div>
{{/if}}

  Refresh Interval: <strong>{{nagios.timerIntervalSeconds}}s</strong>
  -
  Drift:
{{#if (if-cond dateDrift '>' 20000)}}
  <span class="color-red">{{dateDrift}} DISCONNECTED</span>
{{else}}
  <span class="color-green">{{dateDrift}}</span>
{{/if}}<br />

  Last update: <strong>{{nagios.dateLastUpdate}}</strong><br />

</div>

{{!--hosts --}}

{{host-list
  nagios=nagios
}}

{{!--services --}}

{{!-- <div>Services Length: {{object-length nagios.servicelist}}</div> --}}
{{!-- {{#if (if-cond nagios.servicelistDownCount '>' 0)}} --}}

<div class="color-orange" style="margin:10px 0 10px 0;">
  Service Problems: <strong>{{nagios.servicelistDownCount}}</strong>
</div>
{{!-- {{/if}} --}}

{{!-- {{#if (if-cond nagios.servicelistDownCount '===' 0)}} --}}
{{#unless atLeastOneServiceDownOrFlapping}}
<div class="service-item color-green font-size-1-2 animate-open">
  <div class="padding-4">
    All <strong>{{nagios.servicelistCount}}</strong> services are UP
  </div>
</div>
{{/unless}}

{{#each-in nagios.servicelist as |host service|}}
  {{!-- each host --}}
  <div>
  {{#each-in service as |servicename servicedetail|}}
    {{!-- each service in each host --}}
    {{#if (if-cond servicedetail.is_flapping '||' (if-cond servicedetail.status '!==' 2))}}

      {{service-item
        host=host
        servicename=servicename
        servicedetail=servicedetail
      }}

    {{/if}}
  {{/each-in}}
  </div>
{{/each-in}}

{{!--alert list --}}

<div class="color-orange" style="margin-top: 10px;padding-bottom: 3px;">
  Alert History: <strong>{{nagios.alertlist.length}}</strong>
</div>

{{alert-list
  alertlist=nagios.alertlist
  dateLastUpdate=nagios.dateLastUpdate
}}

{{!--notification list --}}

{{!-- <div class="color-orange" style="margin-top: 10px;padding-bottom: 3px;">
  Notification History: <strong>{{nagios.notificationlist.length}}</strong>
</div>

{{notification-list
  notificationlist=nagios.notificationlist
  dateLastUpdate=nagios.dateLastUpdate
}} --}}


