{{!-- show notification-item --}}

{{index}}


{{#if (if-cond item.object_type '===' 1)}}
  HOST
  {{item.name}}
{{/if}}

{{#if (if-cond item.object_type '===' 2)}}
  SERVICE
  {{get item 'description'}} on {{get item 'host_name'}}
{{/if}}


{{!-- {{#if item.name}}
{{item.name}}
{{else}}
{{get item 'description'}} on {{get item 'host_name'}}
{{/if}} --}}
-
<span class={{stateClass}}>{{get item "message"}}</span>

-


{{nagios-notification-type (get item 'notification_type')}}

({{get item 'notification_type'}})



-

{{format-date (get item 'timestamp')}}

{{yield}}
