<div style="position: absolute; top: 25px; right: 25px;">
{{flynn-css
  howManyDown=nagios.servicelistDownCount
}}
</div>

<h2>
  <!--img src={{nagios.settings.iconUrl}} style="width: 30px;"--> {{nagios.settings.title}}
</h2>

<div style="margin-top: 5px;font-size: 0.8em;">

  NagiosTV v<strong>{{nagios.currentVersionString}}</strong>

  {{!-- Latest: v<strong>{{nagios.latestVersion}}</strong> --}}

<br />

{{#if nagios.newVersionAvailable}}
<div style="display:inline-block; color: lime; border: 1px solid lime; border-radius: 4px;padding: 5px;margin: 5px 0;">New Version v{{nagios.latestVersionString}} Available</div><br />
{{/if}}

  {{!-- Nagios Server: <strong>{{nagios.settings.nagiosServerHost}}</strong><br /> --}}

  Connection Type: {{nagios.settings.connectionStyle}}<br />
  Connection Status: <strong class={{connectionStatusClass}}>{{nagios.connectionStatus}}</strong><br />

{{#if nagios.connectionError}}
<div style="color: pink">ERROR
  {{nagios.connectionErrorMessage}}
</div>
{{/if}}

  {{!-- Refresh Interval: <strong>{{nagios.timerIntervalSeconds}}s</strong> --}}

 {{!--  -
  Drift:
{{#if (if-cond dateDrift '>' 20000)}}
  <span class="color-red">DISCONNECTED</span>
{{else}}
  <span class="color-green">{{dateDrift}}ms</span>
{{/if}} --}}

  Last update: <strong>{{nagios.dateLastUpdate}}</strong><br />

</div>




{{!--hosts --}}
{{host-list nagios=nagios}}

{{!--services --}}
{{service-list nagios=nagios}}




{{!--alert list --}}
<div class="color-orange" style="margin-top: 10px;padding-bottom: 3px;">
  Alert History: <strong>{{nagios.alertlist.length}}</strong>
</div>

{{alert-list
  alertlist=nagios.alertlist
  dateLastUpdate=nagios.dateLastUpdate
}}

{{!--notification list --}}

{{!-- <div class="color-orange" style="margin-top: 10px;padding-bottom: 3px;">
  Notification History: <strong>{{nagios.notificationlist.length}}</strong>
</div>

{{notification-list
  notificationlist=nagios.notificationlist
  dateLastUpdate=nagios.dateLastUpdate
}} --}}


