



{{#each notificationlist as |item index|}}

  {{!-- show quiet for --}}
  {{!-- if the first item then time since now --}}
  {{!-- otherwise time since previous entry --}}
  {{#if (if-cond index '===' 0)}}
  <div style="margin: 12px 0px 12px 0px;color: #01A901;">

    {{quiet-for-latest
      timestamp=item.timestamp
      index=index
      notificationlist=notificationlist
      updateTrigger=dateLastUpdate
    }}



  </div>
  {{else}}

    {{#if (if-quiet-for item.timestamp index 60 notificationlist)}}
  <div style="margin: 12px 0px 12px 0px;color: #01A901;">

    {{quiet-for-latest
      timestamp=item.timestamp
      index=index
      notificationlist=notificationlist
      updateTrigger=notificationlist.length
    }}

  </div>
    {{/if}}

  {{/if}}

  {{notification-item
    item=item
  }}

{{/each}}

{{yield}}
