

<div class="settings-screen">

  <h4>NagiosTV Configuration</h4>

  <div style="border: 2px solid #ccc;padding: 10px;">

    <h4>Local Settings</h4>

    <div class="margin-top-10">
      Title:
      <div>{{input type='text' value=nagios.settings.title}}</div>
    </div>

    <div class="margin-top-10">
      Nagios Server:
      <div>{{input type='text' value=nagios.settings.nagiosServerHost}}</div>
    </div>

    <div class="margin-top-10">
      Nagios Server CGI Path:
      <div>{{input type='text' value=nagios.settings.nagiosServerCgiPath}}</div>
    </div>

    <div class="margin-top-10">
      Nagios Server Authentication Enabled: {{nagios.settings.auth}}
      <div>
        <select>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>

    <div class="margin-top-10">
      Nagios Server Username:
      <div>{{input type='text' value=nagios.settings.username}}</div>
    </div>

    <div class="margin-top-10">
      Nagios Server Password:
      <div>{{input type='password' value=nagios.settings.password}}</div>
    </div>

    <div class="margin-top-10">
      <button {{action 'saveAction'}}>Save to Local</button>
      <button {{action 'eraseAction'}}>Erase from Local</button>

      {{#if saveMessage}}
        <span style="color: lime">{{saveMessage}}</span>
      {{/if}}

      <div class="margin-top-10">
        {{#link-to 'application'}}Close and return to the main screen{{/link-to}}
      </div>
    </div>

  </div>

</div>

{{yield}}
