{{#if isSettingsOpen}}
{{!-- <div class="settings-button"><button disabled={{isAnimating}} {{action 'closeAction'}}>Close</button></div> --}}
<div class="settings-button">111{{#link-to 'application'}}Close{{/link-to}}</div>
{{else}}
<div class="settings-button">222<button disabled={{isAnimating}} {{action 'openAction'}}>Settings</button></div>
{{/if}}

<div class="settings-screen display-none">

  <h4>NagiosTV Configuration</h4>

  <div style="border: 2px solid #ccc;padding: 10px;">

    <div class="margin-top-10">
      Title:
      <div>{{input type='text' value=nagios.settings.title}}</div>
    </div>

    <div class="margin-top-10">
      Icon URL: <img src={{nagios.settings.iconUrl}} style="width: 30px;">
      <div>{{input type='text' value=nagios.settings.iconUrl}}</div>
    </div>

    <div class="margin-top-10">
      Node Server (https://10.0.0.1:3000/):
      <div>{{input type='text' value=nagios.settings.nodeServer}}</div>
    </div>

    <div class="margin-top-10">
      <button {{action 'saveAction'}}>Save</button>

      {{#link-to 'application'}}Close{{/link-to}}
    </div>

  </div>

  <div class="margin-top-10" style="border: 2px solid #ccc;padding: 10px;">

    <div class="margin-top-20">
      Connected to {{nagios.settings.nodeServer}}
    </div>

    <div class="margin-top-10">
      Nagios Server:
      <div>{{input type='text' value=nagios.remoteSettings.nagiosServerHost}}</div>
    </div>

    {{!-- <div class="margin-top-10">
      Nagios Server CGI path:
      <div>{{input type='text' value=nagios.remoteSettings.nagiosServerCgiPath}}</div>
    </div> --}}

    <div class="margin-top-10">
      Nagios Server Authentication Enabled: {{nagios.remoteSettings.auth}}
      <div>
        <select>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>

    <div class="margin-top-10">
      Set Username/Password:
      <div>{{input type='checkbox' checked=isSettingUsernamePassword}} Edit</div>
    </div>

{{#if isSettingUsernamePassword}}

    <div class="margin-top-10">
      Nagios Server Username:
      <div>{{input type='text' value=nagios.remoteSettings.username}}</div>
    </div>

    <div class="margin-top-10">
      Nagios Server Password:
      <div>{{input type='password' value=nagios.remoteSettings.password}}</div>
    </div>
{{/if}}

    <div class="margin-top-10">
      <button {{action 'saveServerAction'}}>Save to Server</button>
    </div>

  </div>

</div>

{{yield}}
